.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 300;
    display: flex;
}


.modal {
    margin: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    width: 50%;
}


.modal__title {
    text-align: center;
    padding-bottom: 20px;
}


.display-none {
    display: none;
}
