.wrapper {
    display: flex; 
    height: 100vh;
    background-image: url("../../assets/images/background.jpg");
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #000;
        opacity: 0.5;
    }
}


.form-style {
    margin: auto;
    width: 50%;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 500;
}
